<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <title>Error: <%= error.status %></title>
</head>
<body>
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
        <h1 class="display-3"><%= error.status %></h1>
        <h1 class="display-5">Oops... Something went wrong...</h1>
        <a class="btn btn-primary mt-3" href="/">Back home</a>
    </div>
</body>
</html>
